*{
    margin:0;
   font-family: Arial, Helvetica, sans-serifx ;
   border: boder-box;
}
.navbar {
    height: 60px; 
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo {
    height: 60px;
    width: 120px;
    margin: 1px;
    padding: 1px;
}
.logo{
   background-image: url('amazon_logo.png');
   height: 50px;
   width:100%;
    background-size: cover;
}
.border{
 border: 1px solid transparent;

}
.border:hover{
 border: 1px solid white;
}
/**adderss box **/
.addlogo{
    display:flex;
    align-items: center;
}
.add-p1{
    color: #cccc;
    font-size: 12px;
    margin-left:20px;
  

}
.add-p2{
    color: #ffff;
    font-size: 14px;
    margin-left: 2px;
}

/*search*/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 850px;
    height: 40px;
    margin-left: 20px;
  
   
}
.searchbar{
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    border: none;
}
.selecticon{
    height: 38px;
    width: 60px;
    border: none;
    background-color: #f3f3f3;
    font-size: 15px;
    align-items: center;
    text-align: center;
     border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchicon {
   height: 38px;
    width: 60px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color:#0F1111
}
.searchbar:focus {
    border: 2px solid orange;
    outline: #febd69;
}
/*signin*/

.nav-p1{
    font-size: 12px;

}
.nav-p2{
    font-size: 14px;
    font-weight: bold;
}
.nav-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.4rem;
}
.cartp{
    margin-top: 10px;
}
/* panel*/

.panel{
    width: 100%;
    height:35px;
    background-color: #232f3e;
    align-items: center;
    display: flex;

}
.panel-all{
    color: white;
    display:flex;
    margin-left: 15px;
    font-weight: bold;
}
.panel-p{
    margin-left:20px;
    font-size: 14px;
     color: white;  
    display:inline;
    
}
.panel-p:hover{
    color: #febd69;
    cursor: pointer;
}

/* hero section*/
.hero{
    background-image:url('first_img.jpg');
    height:300px;
    background-size: cover;
 
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.note{
    background-color: white;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 97%;
    margin-bottom: 20px;
 
}
.note a{
    color: #007185;
}
/* box */
.shopitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bababa;
   
}
.box{
    color: rgb(0, 0, 0);
    height: 330px;
    width: 22%;
    border: 2px solid white;
    background-color: white;
    margin-top: 10px;
}
.box h2{
    font-size: 20px;
}
.box1{
    padding: 10px;
}
.box2{
    padding: 10px;
}
.box3{
    padding: 10px;
}
.box4{
    padding: 10px;
}
.imgdiv{
    display: flex;
    margin-top:10px;
}
.b-img{
    background-size: cover;
    justify-content: center;
    height: 114px;
    width: 148px;
 
}
.b-img2{
     background-size: cover;
    height: 260px;
    width: 290px;
 
}
/*footer*/

.foot-panel1{
    background-color: #314257;
   height: 50px;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.foot-panel1 a{
    color:white;
    text-decoration: none;

}

.foot-panel2{
    background-color: #232f3e;
    height: 250px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
.foot-panel2 p{
    margin-top:30px;
}
.foot-panel2 a{
    margin:10px;
    display: flex;
}

footer{
    margin-top: 20px;
}

.foot-panel3{
    height: 87px;
    background-color: #0F1111;
    color: white;
       text-align: center;
   }
   .cond{
    padding: 0.7rem;
  
   }
   .copy{
    padding: 5px;
 

   }