body{
    background-color: rgb(0, 0, 49);
    color: white;
}
@font-face {
    font-family: face;
    src: url("digital-font/DigitalNormal-xO6j.otf");
}
.headpart{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}
.scoreboard{
    font-family: face;
    display: flex;
    justify-content: space-evenly;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color: black;
}
.score h1{
    font-size: 250px;
    color:red;
}
.btns{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
}
button{
    color: white;
    font-size: 20px;
    font-family: face;
    height: 50px;
    width:50px;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 10px;
     margin-left:15px;

}
.resetbtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#rbtn{
    width: 150px;
    height: 40px;
}